<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form1Example2" class="form-control" [(ngModel)]="first_name" />
                <label class="form-label" for="form1Example2">First Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form1Example3" class="form-control" [(ngModel)]="last_name" />
                <label class="form-label" for="form1Example3">Last Name</label>
            </div>
        </div>
    </div>
    
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" [(ngModel)]="email" />
        <label class="form-label" for="form1Example1">Email address</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="form1Example4" class="form-control" [(ngModel)]="phone_number" />
        <label class="form-label" for="form1Example4">Phone Number</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="form1Example5" class="form-control" [(ngModel)]="address" />
        <label class="form-label" for="form1Example5">Address</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="form1Example6" class="form-control" [(ngModel)]="gender" />
        <label class="form-label" for="form1Example6">Gender</label>
    </div>
    
    <div class="row mb-4">
        <div class="text-center">
            <div class="col">
                <span> Already register? </span>
                <a href="#!"> Click Here </a>
                <span> to check details </span>
            </div>
        </div>
        
    </div>
    <button data-mdb-ripple-init type="submit" class="btn btn-success btn-block" (click)="addContent()">Add</button>
</div>
<table class="table">
    <thead class="text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let item of this.details, let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phonenumber}}</td>
            <td>{{item.address}}</td>
            <td>{{item.gender}}</td>
            <td>
                <button class="btn btn-primary" routerLink="/dashboard/{{i}}">View</button>
                <button class="btn btn-success">Edit</button>
                <button class="btn btn-danger" (click)="del(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
